videos/forms-checkout.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/meta-css-ponder1.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/meta-css-ponder.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/meta-css-ponder-lg.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/variables-constants-ponder.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/responsive.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/modal.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/dynamic-data.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/forms-checkout.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/flexbox-ponder.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/sort-filter-part2.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/forms-checkoutb.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
