html, body {
    height: 100%;
    margin: 0;
}
header, footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#content {
    font-family: Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
    max-width: 60%;
    margin: 62px auto;
}
p, li {
  font-size: 1.2em;
  line-height: 1.3em;
}
main {
    flex: 1;
}
video {
  width: 100%;
  border: 2px solid black;
}
pre {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #dddcdc;
  padding: 10px 20px 0 20px;
}
.code-block {
  white-space: pre-wrap;     /* Wrap lines instead of scrolling horizontally */
  font-family: monospace;
  word-break: break-word;
  font-size: 1.1em;
  line-height: 1.5em;
}
em {
  font-weight: 900;
}
/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #000814, #003566, #00509d);
  color: white;
  padding: 1.5rem 2rem;
  border-top: 8px solid #1d366a;
  border-bottom: 8px solid #1d366a;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: -4px;
}

.banner-left {
  display: flex;
  align-items: center;
}

.web {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -3px;
  transform: rotate(-90deg);
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.banner-right {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -2px;
}
a{
    text-decoration: none;
    color: #000;
}

/* Footer */
footer {
    background: linear-gradient(to right, #000814, #003566, #00509d);
    color: white;
    border-top: 8px solid #1d366a;
    border-bottom: 8px solid #1d366a;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.3);
}
footer p {
    padding: 10px;
    text-align: center;
    margin: 0;
}

/* ---- per page ---- */





/* All pages */
@media screen and (max-width: 550px) {
    #content {
      max-width: 75%;
    }
    .web, .title, .banner-right {
        font-size: 1.5rem;
    }
    .banner {
         padding: .8rem 1.2rem;
    }
}