
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 2em;
/* justify-content: flex-end; */
flex-direction: column;
background-color: bisque;
height: 100px;
align-items: center;
padding-right: 50px;
}

.media-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.gallery {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.gallery > * {
    flex: 1 1 460px;
}
/* .media-card {
    max-width: 460px;
} */

hr{
margin-top: 50px;
}
      
@media screen and (min-width: 550px){
    .main-nav {
        flex-direction: row;
        justify-content: end;
    }
    .media-card {
        flex-direction: row;
    }
    
    
}