body {
    font-size: 20px;
    font-family: 'Times New Roman';
}
.dark {
    background-color: #333;
    color: white;
}
.dark h2 {
    color: rgb(160, 212, 237);
}
select {
    padding: 5px;
    margin: 80px 0 0 100px;
}
#content {
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 100px;
}
h2 {
    color: #006EB6;
    font-size: .75em;
}
h1, h2 {
    text-align: center;
    letter-spacing: 4px;
}
p, li {
    line-height: 1.5;
    padding: 10px;
}
img {
    width: 150px;
    /* display: block;
    margin: 0 auto; */
}

footer {
    text-align: center;
}